.card {
    /* Add shadows to create the "card" effect */
  float: left;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 5px;
  height: 200px;
  width: 250px;
  margin: 5px 5px 5px 5px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3);
}

.card-container {
  padding: 2px 16px;
}

.card-add {
  text-align: center;
  line-height: 230px;
  vertical-align: middle;
  display: inline-block;
}

.card-closed {
  background: #EEE;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#add-event-icon {
  color: #DDD;
}

.upper-space {
  padding-top: 4px;
}

.full-width {
  width: 100%;
}

a,a:hover { color: inherit; }