.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fixed-panel {
	height: calc(100vh - 200px) !important;
	overflow-y: scroll !important;
}

.nav-pills > .active > a {
    background-color: #999 !important;
    color: white !important;
}

.event-pill, .course-pill, .report-pill {
	color: #444 !important;
}

.report-pill {
	cursor: default;
}

* {
  border-radius: 0 !important;
}